<nav>
    <h1>TrendSepeti</h1>
    <ul>
      <li><a href="/">Giriş Yap</a></li>
      <li><a href="/about">Hakkımızda</a></li>
      <li><a href="/sepetim">Sepetim</a></li>
      <li><a href="/product">Ürünler</a></li>
      <li><a href="/addItem">Ürün Ekle</a></li>
      <li><a href="/signup">Kullanıcı Ekle </a></li>


      <li><a href="/logout">Çıkış Yap</a></li>
      
      
       
    </ul>
  </nav>