<!DOCTYPE html>

<html lang="en">
<head>
<%- include('inc/head'); %>

  
</head>
<body>
  <%- include('inc/nav.ejs'); %>
  <section>
      <h1>Hakkımızda</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam nobis iusto obcaecati ipsam ipsum. Id amet, ducimus provident nam eaque animi veritatis ad quasi repellendus sequi earum, quis eum.</p>
  </section>
</body>
</html>