<!DOCTYPE html>

<html lang="en">
<head>
<%- include('inc/head'); %>
</head>
<body>
  <%- include('inc/nav.ejs'); %>
  <section>
    <form action="" method="post" autocomplete="off" >
      <input type="text" name="username" placeholder="Kullanıcı Adı" required>
      <input type="password" name="password" placeholder="Şifre" required> 
      <input type="submit" value="Gonder" >

    </form>
  </section>
</body>
</html>